<header>
  <nav id="nav-bar">
    <ul>
      <li><a href="#" onclick="loadContent('public/about.html')">About Me</a></li>
      <li><a href="#" onclick="loadContent('public/experience.html')">Experience</a></li>
      <li><a href="#" onclick="loadContent('public/study.html')">Studies</a></li>
      <li><a href="#" onclick="loadContent('public/projects.html')">Projects</a></li>
      <li><a href="#" onclick="loadContent('public/linkedin.html')">LinkedIn Data</a></li>
      <li><a href="#" onclick="loadContent('public/job-alerts.html')">Job Alerts</a></li>
      <li><a href="#" onclick="loadContent('public/innovations.html')">Innovations</a></li>
      <li><a href="#" onclick="loadContent('public/testimonials.html')">Testimonials</a></li>
      <li><a href="#" onclick="loadContent('public/contact.html')">Contact Me</a></li>
      <li><a href="#" onclick="loadContent('public/blog.html')">Blog</a></li>
    </ul>
  </nav>
</header>
